[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
pydantic = "*"
requests = "*"
pandas = "*"
openpyxl = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
lxml = "*"

google-search-results = "*"

[dev-packages]
pytest = "*"
black = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.12"
