[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]

fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
requests = "*"
python-dotenv = "*"
google-search-results = "*"   # serpapi SDK
pandas = "*"
openpyxl = "*"
numpy = "*"
certifi = "*"
charset-normalizer = "*"
idna = "*"
urllib3 = "*"
sqlalchemy = "*"
sqlmodel = "*"
alembic = "*"


[dev-packages]
pytest = "*"
black = "*"
isort = "*"
flake8 = "*"

[scripts]

dev = "uvicorn main:app --reload --port 8005 --env-file .env"
prod = "uvicorn main:app --host 0.0.0.0 --port 8005"

format = "black . && isort ."
lint = "flake8 ."
test = "pytest -s"

[requires]
python_version = "3.12"